.App {
  display: flex;
  justify-content: : space-around;
}

.App.verticle {
  flex-direction: column;
}

.category {
  border: 1px solid #ccc;
  padding: 1em;
  width: 30%;
}

.retrospective-item {
  border: 1px solid #ccc;
  margin: 0.5em 0;
  padding: 0.5em;
}

button{
  margin-right: 0.5em;
}